@using JohnBlog.Enums
@model IEnumerable<JohnBlog.Models.Blog>

@{
    ViewData["Title"] = "Index";
    var isAdmin = User.Identity!.IsAuthenticated && User.IsInRole(BlogRole.Administrator.ToString()); // _userManager.GetUserId(User);
}

<div class="row">
    @foreach (var item in Model!)
    {
        <div class="col-lg-4 col-12 p-2">
            <div class="card h-100 bg-light">
                <div class="card-header fs-3 fw-bolder" style="color: #3e1ecb;">
                    @item.Name
                </div>
                <img src="@item.BlogImage" alt="" class="card-img-top mt-3" style="object-fit: contain;max-height: 250px;min-height: 250px;"/>
                <div class="card-body">
                    <p class="card-text">@item.Description</p>
                    <a asp-controller="Posts" asp-action="PostsByBlogIndex" asp-route-blogId="@item.Id" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    @item.Posts.Count posts by @item.BlogUser!.FirstName @item.BlogUser!.LastName
                    @if (isAdmin)
                    {
                        // set z-index higher allows clicking with stretched-link
                        <div style="z-index: 2;position: relative;">
                            <a asp-controller="Blogs" asp-action="Edit" asp-route-Id="@item.Id" class="mb-3">Edit</a>
                            <br/>
                        </div>
                    }
                </div>
            </div>

        </div>
    }
</div>