@model System.Collections.Generic.IList<JohnBlog.Models.BlogUser>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@ViewData["RoleName"]</h2>
<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.FirstOrDefault()!.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.FirstOrDefault()!.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.FirstOrDefault()!.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.FirstOrDefault()!.EmailConfirmed)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>

    @if (Model is not null)
    {
        foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>user.EmailConfirmed)
                </td>
                <td>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
    }
    
    </tbody>
</table>