@using Microsoft.AspNetCore.Identity
@model IEnumerable<JohnBlog.Models.Post>
@inject UserManager<BlogUser> _userManager

@{
    ViewData["Title"] = "Test";
}
@{
    var isAuthor = User.Identity!.IsAuthenticated && 
                   Model!.FirstOrDefault()!.BlogUserId == _userManager.GetUserId(User);
}    

@if (isAuthor)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<div class="row">
    @foreach (var item in Model!)
    {
        <div class="col-lg-4 col-12 p-2">
            <div class="card h-100 bg-light">
                <div class="card-header">
                    @item.Blog!.Name
                </div>
                <div class="card-body d-flex flex-column text-start">
                    <h3 class="card-title">@item.Title</h3>
                    <p class="card-text">@item.Abstract</p>
                    <a asp-controller="Posts" asp-action="Details" asp-route-slug="@item.Slug" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    @item.Created.ToString("yyyy MMMM dd")
                </div>
            </div>
            
        </div>
    }
</div>
